<% provide :body_id, "m_01" %>

<div id="container" class="container">
  <div id="contents">
    <section>
      <h2>系统首页-日期选择</h2>
      <div id="calendar" class="contents-box"></div>
    </section>
  </div>
</div>